BYD_USERNAME=
BYD_PASSWORD=
BYD_COUNTRY_CODE=NL
BYD_LANGUAGE=en
BYD_TIME_ZONE=Europe/Amsterdam
BYD_APP_VERSION=3.2.2
BYD_APP_INNER_VERSION=322
BYD_SOFT_TYPE=0
BYD_TBOX_VERSION=3
BYD_IS_AUTO=1
BYD_CONTROL_PIN=
BYD_SESSION_TTL=
